{% extends 'landing/base.html' %} {% load bootstrap4 %} {% load static%} {% block content %}
<div class="container-fluid landing">
    <div class="text-center intro">
        <h2 class="bet">Creative Hub</h2>
        <hr class="style-three">
        <p class="para">Imagine having the best art around your hood and had the chance to post it anywhere where the world can see it and event have a comment on it. Like it and even follow you to know more about the art.</p>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>

    </div>
</div>

{% endblock %}