{% extends 'base.html' %}{% load bootstrap4 %}{% block content %}

<div class="container-fluid">
    <div class="miss">
        <h3 class="text-center" style="margin-top:7%;">Our Missions</h3>
        <p class="text-center">"To privide the best representation of art and at the same time the best user experience" </p>
    </div>

    <div class=" text-center team" style="margin-top:7%; margin-bottom: 4%;">
        <h3>Our Team</h3>
        <p>We have a team of dedicated members who are able and willing to work or represent an artist who believe in his/her own work and we believe with you</p>

    </div>

</div>
{% endblock %}