{% extends 'base.html' %}{% load bootstrap4 %}{% block content %}

<div class="container-fluid">
    <div class="miss">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center" style="margin-top:4%;">Our Missions</h3>
                <hr class="r">
                <p class="text-center">"To privide the best representation of art and at the same time the best user experience" </p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center" style="margin-top:4%;">Our Vision</h3>
                <hr>
                <p>" To be able to connect the artistas and give them platform to showcase their pieces at a fair price." </p>

            </div>
            <div class="col-md-4">
                <h3 class="text-center" style="margin-top:4%;">Accomplishments</h3>
                <hr>
                <p>We have been able to represent a number of artists and the feedback from them is overwhelming. Follow us on twitter, facebook and instagram to see some of our work.</p>

            </div>

        </div>

    </div>
    <h1 class="text-center" style="margin-top:4%;">Testimonials</h1>
    <p class="text-center">From our social plartforms we have been able to get testimonials from some of the artists we have represented their work and it was quite appealing</p>
    <div class=" text-center row" style="margin-bottom: 4%;">
        <div class="col-md-3">
            "As an underground artist it was tough for me to showcase my art pieces but with Creative Hub i was able to post some of my best works and got me a representation" ~ Ali. K
        </div>
        <div class="col-md-3">

            "I posted an art from my hood and guess what, it went viral and now the artist was hired to paint a potray of Nelson Mandela. Good work CreativeHub" ~ Martinez
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
{% endblock %}