{% extends 'base.html' %} {% load bootstrap4 %} {% load static%} {% block content %}

<div class="container-fluid" style="margin-top: 10%; margin-bottom:5%;">
    <h3 class="text-center hub">ArtHub</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4" style="margin-top: 7%;">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ post.photo.url }}" alt="{{photo.title}}">
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>


{% endblock %}