{% extends 'base.html' %} {% load bootstrap4 %} {% load crispy_forms_tags %} {% load static%} {% block content %}

<div class="container-fluid" style="margin-top: 10%; margin-bottom:5%;">
    <h3 class="text-center hub">ArtHub</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4" style="margin-top: 7%;">
            <div class="card">
                <div class="view overlay">
                    <a href="{% url 'single-art' post.id %}"><img class="card-img-top" src="{{ post.photo.url }}" style="height: 400px;" alt="{{photo.title}}"></a>
                    <a href="">
                        <div class="mask rgba-white-slight"></div>
                    </a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <footer>
        <div class="for">
            <h2 class="text-center">Subscribe</h2>
            <form action="{%url 'photos'%}" method="post">
                {% csrf_token %} {% bootstrap_form form %}
                <input type="submit" class="btn btn-success" value="Subscribe">
            </form>

        </div>

    </footer>

</div>


{% endblock %}