{% extends 'base.html' %}{% load crispy_forms_tags %} {% block content %}

<div class="container" style="margin-top:7%;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-4">
            <div class="text-center">

                {% if profile.profile_picure %}

                <img src="{{profile.profile_picture.url}}" alt="" eight="125px" width="125px"> {% else %}
                <img src="https://www.trzcacak.rs/myfile/detail/508-5082157_black-circle-png-shadow-default-profile-picture-round.png" height="125px" width="125px"> {% endif %}
            </div>

            <h5 class="text-center mt-3">{{user.username}}</h5>
            <p class="text-center"> {{user.email}}</p>
            {% if profile.username == username %}
            <div class="text-center" style="color: black;">
                <button class="btn btn-sm btn-outline-dark"><a href=""><span class="site">Edit profile</span></a> </button>
            </div>
            {% else %} {% if profile in people_following %}
            <li class="list-inline-item">
                <a href="#" class="btn btn-sm">Following</a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'follow' user_id=profile.id %}" class="btn btn-sm">Follow</a>
            </li>
            {% endif %}{% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


{% endblock %}